:root {
  --default-border: solid lightgrey 1px;
  --border-radius: 1.25em;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 10pt;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #f2f2f2;
  padding: 20px;
  border: var(--default-border);
  border-radius: var(--border-radius);
  text-align: center;
}

.container input {
  border-radius: 1em;
  padding: .25em;
  padding-left: 1em;
  margin: .25em 0;
  outline: none;
  border: var(--default-border);
  border-radius: var(--border-radius);
  display: block;
}

.container p {
  margin: 2px;
}

.button {
  border: none;
  background-color: grey;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 10pt;
  padding: .5em 2em;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: inline-block;
}

#logo {
  width: 30%;
  margin: .5em;
  max-width: 200px;
}
