@keyframes swipe {

}

.outer-deck {
  position: absolute;
  background: #d2a90a;
  width: 100%;
  height: 100%;
  text-align: center;
}

.inner-card {
  position: absolute;
  background: #fff;
  padding: 2%;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  text-align: center;
}

.inner-end {
  position: absolute;
  background: #fff;
  padding: 2%;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  text-align: center;
}
